<div class="ms-5 mt-5 mx-auto">
  <div class="row mx-auto">
    <div class="col-md-3">
      <h3><img src="../../assets/Group 20.png" class="w-25" alt="" /></h3>
      <p>Savor the artistry where every dish is a culinary masterpiece</p>
    </div>
    <div class="col-md-3">
      <h3 class="ms-md-4">Useful Links</h3>
      <ul>
        <li class="nav-link">About us</li>
        <li class="nav-link">Events</li>
        <li class="nav-link">Blogs</li>
        <li class="nav-link">FAQ</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h3 class="ms-md-4">Main Menu</h3>
      <ul>
        <li class="nav-link">Home</li>
        <li class="nav-link">Offers</li>
        <li class="nav-link">Menus</li>
        <li class="nav-link">Reservation</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h3 class="ms-md-4">Contact Us</h3>
      <ul>
        <li class="nav-link">example  gmail.com</li>
        <li class="nav-link">+234 9134256192</li>
        <li class="nav-link">Social Media</li>
      </ul>
    </div>
  </div>
</div>
<footer class="container text-center row">
  <div class="d-inline float-start col-lg-4">
    <i class="bi bi-facebook greenText"></i>
    <i class="bi bi-instagram text-secondary m-3"></i>
    <i class="bi bi-twitter-x text-secondary"></i>
    <i class="bi bi-youtube text-secondary m-3"></i>
  </div>
  <div class="col-lg-7 text-center">
    <span>Copyright &copy; 2023 Dscode | All rights reserved</span>
  </div>
</footer>
