<app-navbar></app-navbar>
<section>
  <div class="row">
    <div class="container col-lg-4 col-sm-12">
      <div class="background"></div>
      <img class="image mt-5" style="width: 25rem;" src="https://img.freepik.com/premium-photo/greek-salad-with-fresh-vegetables-feta-cheese-pan-isolated-white-background-top-view_89816-49507.jpg?w=826" alt="">
    </div>
<div class="col-lg-7 col-sm-12 lh-1">
<span style="font-size: 100px;">Caesar</span>
<br>
<span ><i style="font-size: 60px;font-weight: lighter;">Salad</i></span>
<br>
<br>
<br>
<br>
<p class="fs-5"> classic salad made wth romaine lettuce,crouons parmesan cheese, and caesar dressing</p>
<p class="h3 ">$ <span class="text-danger fw-bold">200</span>
</p>
<div class="d-flex">
<button class="btn btn-light m-2">-</button>
<span class="pt-4">1</span>
<button class="btn btn-light m-2">+</button>
<button class="btn btn-light m-2"><i class="bi bi-cart3"></i><span>Add Food</span></button>
</div>
</div>
  </div>
</section>
