<div class="parent">
  <div class="">
    <div class="w-25 text-center">
      <div class="bg-white child">
        <div class="">
          <img src="../../assets/Group 20.png" class="m-3 text-end" alt=""><br>
        </div>
    <p class="h1 bg text-center greenText">Sign In</p>
<input type="email" class="mt-3 bg-none greenBorder" placeholder="email"><br>
<input type="password" class="mt-3 bg-none greenBorder" placeholder="Enter password"><br>
<p class="text-center m-2"> Create new account <br> <span class="greenText">Sign Up</span></p><br>
<button class="green text-white p-2  w-75 rounded rounded-5">Sign </button>
  </div>
</div>
</div>
</div>
