<section class="row m-2 m-sm-5">
  <div class="col-lg-5 col-sm-12">
    <img class="w-100" src="../../assets/Group 22.png" alt="" />
  </div>
  <div class="col-lg-5 col-sm-12">
    <div class="mt-5">
      <p class="text-danger">Testimonials</p>
      <p class="fw-semibold fs-1">What Our Customers <br /> Say About Us</p>
    </div>
    <div>
      <p>“I had the pleasure of dining at Foodi last night, and I'm still raving about the experience! The attention to detail in presentation and service was impeccable”</p>
    </div>
    <br />
    <div class="row border">
      <div class="col-3 border">
        <img class="w-100" src="../../assets/Group 23.png" alt="" />
      </div>
      <div class="col-5">
        <p>
          <small class="fw-semibold">Customer Feedback</small><br />
          <small><small class="fw-semibold">⭐ 4.9</small> 18.6k Reviews</small>
        </p>
      </div>
    </div>
  </div>
</section>
