<div>
  <div class="mainDiv">
    <div class="row">
      <div class="col-lg-4 col-sm-12 mx-sm-4 ">
        <img src="../../assets/Group 20.png" class="float-start p-2 bg-white rounded" alt="">
        <div class="text-white text-center subDiv  my-5">
          <p class="h1 pt-5">Hello</p>
          <p>Signup and upload your kindly<br> delicious delicacies</p>
          <input type="text" class="whiteBorder text-white m-3" placeholder="Full Name" [(ngModel)]="fullName"><br>
          <input type="text" class="whiteBorder text-white m-3" placeholder="User Name" [(ngModel)]="userName"><br>
          <input type="email" class="whiteBorder text-white m-3" placeholder="Email" [(ngModel)]="email"><br>
          <input type="password" class="whiteBorder text-white m-3" placeholder="Password" [(ngModel)]="password"><br>
          <button class="m-3 btn btn-light" (click)="signUp()">Sign Up</button><br>
          <p>Already have an <span>Log in</span></p>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12"></div>
    </div>
  </div>
</div>
