<section class="row m-5 gap-4">
  <div class="col-lg-6 col-sm-12">
    <div>
      <p class="text-danger">Our Story & Services</p>
      <p class="fw-semibold fs-1">
        Our Culinary Journey <br /> And Services
      </p>
      <p>
        Rooted in passion, we curate unforgettable dining experiences and
        offer exceptional services, blending culinary artistry with warm
        hospitality.
      </p>
      <button class="mt-5 rounded rounded-5 py-2 px-4 green text-white ">Explore</button>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12 row gap-3">
    <!-- One -->
    <div class="card greenText text-center border-0 shadow-sm" style="width: 14rem;">
      <i class="bi bi-basket h1"></i>
      <p>CATERING</p>
      <small class="fw-light">Delight your guests with our flavors and presentation</small>
    </div>
    <!-- Two -->
    <div class="card greenText text-center border-0 shadow-sm" style="width: 14rem;">
      <i class="bi bi-stopwatch h1"></i>
      <p>FAST DELIVERY</p>
      <small class="fw-light">We deliver your order promptly to your door</small>
    </div>
    <!-- Three -->
    <div class="card greenText text-center border-0 shadow-sm" style="width: 14rem;">
      <i class="bi bi-cart-check h1"></i>
      <p>ONLINE ORDERING</p>
      <small class="fw-light">Explore menu & order with ease using our Online Ordering </small>
    </div>
    <!-- Four -->
    <div class="card greenText text-center border-0 shadow-sm" style="width: 14rem;">
      <i class="bi bi-gift h1"></i>
      <p>GIFT CARDS</p>
      <small class="fw-light">Give the gift of exceptional dining with Foodi Gift Cards </small>
    </div>
  </div>
</section>
