/* You can add global styles to this file, and also import other style files */
*{
  font-family: 'Poppins', sans-serif;
}
.green{
  background: #39DB4A;
  border: 0;
}
.greenText{
  color: #39DB4A;
}
